<div class="container">
    <div class="row">
            <div class="col-6 text-center">
    <img [src]="User.photo" alt="User.name"/>
    <h2>Nom : {{User.name}}</h2>
    <h2>Prénom : {{User.firstName}}</h2>
    <input type='text' [(ngModel)]="quote" name='quote'>
    <h3>{{quote}}</h3>
    <button class="button" (click)="onAfficher()">Afficher / Masger mon âge</button>
    <h4 [hidden] = "!bool">{{User.age}}</h4>
         </div>
    <div class="col-6 text-center">
<ul *appStructurel="showMovie" class="list-unstyled">
<li appAttribute >Autant en emporte le vent</li>
<li>Le Magicien d'Oz</li>
<li>Le Lauréat</li>
<li>Sur les quais</li>
<li>Casablanca</li>
<li>Bonnie et Clyde</li>
<li>Annie Hall</li>
<li>Le Faucon maltais</li>
<li>Psychose</li>
<li>Certains l'aiment chaud</li>
<li>Le Pont de la rivière Kwaï</li>
<li>Boulevard du crépuscule</li>
<li>La vie est belle</li>
<li>Chantons sous la pluie</li>
<li>La Liste de Schindler</li>
</ul>
<button class="button" (click)="onMovie()">Afficher / Masger la liste des films</button>  
</div>
</div>