.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    border-radius: 10%;
}

.button:hover {
    background-color: green;
}